.new-note {
  margin: auto;
  width: 20%;
  height: 2%;
  padding: 10px;
}

#flexsave {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.save {
  display: block !important;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  padding: 10px;
  align-items: center;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.panel panel-default {
  width: 10%;
}

.note-content {
  padding: 0;
  font-size: 13 !important;
}

.note {
  margin: auto;
  width: 20%;
  height: 2%;
  padding: 10px;
}

.panel-title {
  font-weight: bold;
}

.panel-body {
  font-size: 13px;
}

.panel-success {
  & > .panel-heading {
    font-size: 13px;
    white-space: nowrap;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }
    font-size: 13px;
    white-space: nowrap;
    overflow: auto;
  }
  & > .panel-body {
    &::-webkit-scrollbar {
      display: none;
      width: 0 !important;
    }
    font-size: 13px;
    overflow: auto;
    text-align: left;
    max-height: 25rem;
    overflow-wrap: anywhere;
  }
}
